.s_box {
  display: flex;
  flex-direction: column;
  height: 100%;

  > .s_area {
    flex: 1 1 auto;

    &.is_scroll {
      overflow: auto;
    }
  }

  > *:not(.s_area) {
    flex: 0 0 auto;
  }
}
